
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Login Inventory App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet"> 
    <link href="{{url_for('static', filename='css/addons.css')}}" rel="stylesheet"> 

    <!-- Font awesome link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

  <!-- Export Javascript component -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
  
</head>

  <body>
      <!-- Header -->
      <header>
          <!-- Fixed navbar -->
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Information System and Solution Inventory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            </nav>
        </header>
      <!-- Body -->
      <div class="container shadow-lg p-3 mb-5 bg-white rounded">
        <div class="jumbotron">
          <h1> List of Applications <span class="badge badge-pill badge-primary">{{myRecord}}</span></h1>
        </div>
        <br>
        <div>
            <!-- Simple Message -->
            {% with mails = get_flashed_messages(category_filter=["message"]) %}
            {% if mails %}
            <div class="alert alert-success" role="alert">
              <ul>
                {%- for msg in mails %}
                <li>{{ msg }}</li>
                {% endfor -%}
              </ul>
            </div>
            {% endif %}
            {% endwith %}      
      </div>
      <div class="div-scroll">
          <table id="exportTable" class="table" >

          <thead class="thead-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Business Need</th>
                <th scope="col">Description</th>
                <th scope="col">Technology</th>
                <th scope="col">Provider</th>
                <th scope="col">Owner</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
                <th scope="col">Url</th>
                <th scope="col">Category</th>                
              </tr>
            </thead>
            <tbody>
              {% for app in myApp %}
              <tr>
                <td>{{ app.systemname }}</td>
                <td>{{ app.systembusinessneed }}</td>
                <td>{{ app.systemdescription }}</td>
                <td>{{ app.systemtechnology }}</td>
                <td>{{ app.systemprovider }}</td>
                <td>{{ app.systemowner }}</td>
                <td>{{ app.systemstatus }}</td>
                <td>{{ app.systemurl }}</td>
                <td>{{ app.systemcategory }}</td>
                <td><i class="fas fa-edit"><a href="{{url_for('displayApp',systemname = app.systemname)}}"> Edit | </a></i><i class="fas fa-trash-alt"><a a href="{{url_for('deleteApplication',systemname=app.systemname)}}">  Delete</a></i></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
        <hr>
        <a href="{{url_for('createApplication')}}"> Create application | </a>
        <a href="{{url_for('menu')}}"> Go back to the menu </a>
        <button onclick="exportTableToExcel('exportTable','')" class="btn btn-lg btn-warning clearfix"><span class="fa fa-file-excel-o">Export To Excel File</span></button>
      </div>
              <!-- Footer -->
              <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand" href="#">All Rights Reserved to ISS - December 2018</a>
            </nav>
  
  </body>
  
<!-- Export  feature -->
<script>
function exportTableToExcel(tableID, filename = ''){
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
            
            // Specify file name
            filename = filename?filename+'.xls':'excel_data.xls';
            
            // Create download link element
            downloadLink = document.createElement("a");
            
            document.body.appendChild(downloadLink);
            
            if(navigator.msSaveOrOpenBlob){
                var blob = new Blob(['\ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob( blob, filename);
            }else{
                // Create a link to the file
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
            
                // Setting the file name
                downloadLink.download = filename;
                
                //triggering the function
                downloadLink.click();
            }
        }
</script>
<style>
    #exportButton {
        border-radius: 0;
    }
</style>

  <!-- Bootstrap core JavaScript -->
  <script src="static/jquery/jquery.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</html>