
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Login Inventory App</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/signin.css')}}" rel="stylesheet"> 
  </head>

  <body>
      <!-- Header -->
      <header>
          <!-- Fixed navbar -->
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Information System and Solution Inventory</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            </nav>
        </header>
      <!-- Body -->

      <main role="main" class="container shadow-lg p-3 mb-5 bg-white rounded">
        <div class="jumbotron">
          <h1 class="display-4"> Internal process update process</h1>
          <p class="lead">Please fill the fields below with the appropriate information. </p>
        </div>
        <div>
          <form class="form-signin" method="POST" action="{{url_for('updateInternalProcess')}}">
            <label for="inputInternalProcessName" class="sr-only"> Internal Process Name</label>
            <input type="text" id="inputInternalProcessName" name="inputInternalProcessName" class="form-control" placeholder="Internal Process Name" value="{{myInternalProcess.ipname}}" autofocus>
            <label for="inputInternalProcessDescription" class="sr-only">Internal Process Description</label>
            <input type="text" id="inputInternalProcessDescription" name="inputInternalProcessDescription" class="form-control" placeholder="Internal Process Description" value="{{myInternalProcess.ipdescription}}">
            <label for="inputInternalProcessUnit" class="sr-only">Internal Process Unit</label>
            <input type="text" id="inputInternalProcessUnit" name="inputInternalProcessUnit" class="form-control" placeholder="Internal Process Unit" value="{{myInternalProcess.ipunit}}"> 
            <label for="inputInternalProcessStatus" class="sr-only">Internal Process Status</label>
            <input type="text" id="inputInternalProcessStatus" name="inputInternalProcessStatus" class="form-control" placeholder="Internal Process Status" value="{{myInternalProcess.ipstatus}}">
            <label for="inputInternalProcessDocumented" class="sr-only">Internal Process Documented</label>
            <input type="text" id="inputInternalProcessDocumented" name="inputInternalProcessDocumented" class="form-control" placeholder="Internal Process Documented" value="{{myInternalProcess.ipdocumented}}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
            <a href="{{url_for('listeApplication')}}"> Cancel the operation ? Please click here </a>
            </div>                         
          </form>
      </div>
    
    </main>
              <!-- Footer -->
              <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand" href="#">All Rights Reserved to ISS - December 2018</a>
            </nav>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</html>